*{
    margin: 0;
    box-sizing: border-box;
}
.top-container{
    background-color: red;
    width: 100px; height: 100px;
    position: absolute;
    top: 200px; left: 200px;
}

.top-middle {
    width: 100px; height: 100px;
    background-color: blue;
    position: absolute;
    top: 100px; left: 100px;
}

.bottom-container {
    width: 100px; height: 100px;
    background-color: yellow;
}